
.duanshipin{
    display: none;
    width: 90vw;
}

.daohang{
    margin-bottom: 2.5vh;
}
.reirongkuang{
    width: 100%;
    overflow: scroll;
}
.reirongkuang>ul{
    width: 300%;
    margin: 0;
    padding: 0;
    list-style: none;
}
.reirongkuang>ul>li{
    width: 18vw;
    height: 3.59vh;
    float: left;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;

}
.TV_Screen{
    margin-bottom: 50px;
}
.TV_Screen_top{
    position: relative;
}
.bianse{
    color: orange;
}
.TV_Screen_top>span{
    z-index:99999;
    position: absolute;
    top: 1.7vh;
    left: 4vw;
    color: rgba(255, 255, 255, 1);
    font-weight:bold;
}
.TV_Screen_top>img{
    width: 100vw;
    background-size: cover;
    filter: saturate(1.0) hue-rotate(0deg) brightness(0.6) contrast(1.0);
}
/* 小篮筐 */
.TV_Screen_dibu{
    margin-bottom: 40px;
    width: 89vw;
    height: 2.54vh;
    display: flex;
    margin-top: 1.7vh;
    margin-bottom: 1.7vh;
    text-align: center;
}
.xiaoyuan{
    width: 4.4vw;
    vertical-align: middle;
    border-radius: 50%;
    margin-left: 2vw;
}
.TV_Screen_dibu>span{
    margin-left: 1.3vw;
    width:18.6vw;
    border-radius: 30px;
    font-size: 0.75rem;
    margin-left: 1.3vw;
    background-color:rgba(153, 152, 152,0.2);
}
.TV_Screen_dibu>.dibu_wang{
    margin-right: 59px;
}
.TV_Screen_dibu>.tubiao{
    margin-left: 23px;
    width: 20px;
    height: 20px;
    
}
