.app_tabbar{
    width: 100vw;
    height: 7.3vh;
    position: fixed;
    bottom: 0px;
    display: flex;
}
/* 底部的四个小块 */
 .tabbar_item{
     background-color:white;
     flex: 1;
     text-align: center;
     padding: 0px;
 }
 .tabbar_item>div{
     height: 0.49vh;
     padding: 0.49vh 0 0 0 ;
     vertical-align: middle;
 }
 .tabbar_item div img{
     width: 25%;
     
     background-size: cover;
 }
 .tabbar_item>span{
     font-size: 0.62rem;
     
 }